{% block sw_cms_element_dailymotion %}
    <div class="sw-cms-preview-two-images-text">
        <div class="image-wrapper">
            <div class="image-text">
                <div class="header-wrapper">
                    <sw-text-editor
                        v-model="element.config.imageHeader.value"
                        :disabled="disabled"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
                        sanitize-input
                        @blur="onHeaderBlur"
                        @input="onHeaderInput"
                    />
                </div>
                <div class="text-wrapper">
                    <sw-text-editor
                        v-model="element.config.imageText.value"
                        :disabled="disabled"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
                        sanitize-input
                        @blur="onTextBlur"
                        @input="onTextInput"
                    />
                </div>
                <sw-text-editor
                    v-model="element.config.imageLinkText.value"
                    :disabled="disabled"
                    :allow-inline-data-mapping="true"
                    :is-inline-edit="true"
                    sanitize-input
                    @blur="onLinkBlur"
                    @input="onLinkInput"
                />
            </div>
            <img
                :src="mediaUrl"
                alt=""
            >
        </div>
    </div>
{% endblock %}
