{% block sw_cms_element_dailymotion_preview %}
    <div class="sw-cms-preview-element-two-images-text">
        <div class="image-wrapper">
            <div class="image-text">
                <h6>Lorem</h6>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <span>Image link</span>
            </div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
    </div>
{% endblock %}
